<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    
    <form class="form-box" action="/register" method="POST">
        <h4>가입</h4>
        <input name="username" placeholder="아이디">
        <input name="password" type="password" placeholder="비밀번호">
        <input name="password2" type="password" placeholder="비밀번호확인">
        <button type="submit">전송</button>
    </form>
</body>
</html>